@page "/ReleaseNotes"

<div class="card border-secondary" id="ManageSettingsCard" style="height: 100%;">
    <div class="card-header bg-secondary border-secondary text-white">
        Release Notes (planned features page for now)
    </div>
    <div class="card-body" style="margin-bottom: 100px;">
        <p>The main focus for LPM Blitz right now is to have as much feature parity with Livestream Production Manager 0.6.3 as possible in the shortest amount of time. Some features might get less priority, like character skin selection.</p>
    </div>
</div>

@code {

}
