@page "/SetQueu"

<div class="card border-info" id="SetQueuCard" style="height: 100%;">
    <div class="card-header bg-info border-info text-white">
        Manage Set Queu
    </div>
    <div class="card-body">
    </div>
</div>
