@page "/Settings"

<div class="card border-danger" id="ManageSettingsCard" style="height: 100%;">
    <div class="card-header bg-danger border-danger text-white">
        Manage Settings (List of planned settings below)
    </div>
    <div class="card-body" style="margin-bottom: 100px;">
        <ul>
            <li>Which Format open by default</li>
            <li>Dark/Light mode by default</li>
            <li>Get latest upon choosing format</li>
            <li>When to automatically switch to Best of 3</li>
        </ul>
    </div>
</div>

@code {

}
