<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Player 1
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Player 2
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Name
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
               Name
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player1.Name" class="form-control" id="Player1Name">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player2.Name" class="form-control" id="Player2Name">
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Sponsor
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Sponsor
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player1.Sponsor" class="form-control" id="Player1Sponsor">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player2.Sponsor" class="form-control" id="Player2Sponsor">
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Twitter
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Twitter
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player1.Twitter" class="form-control" id="Player1Twitter">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player2.Twitter" class="form-control" id="Player2Twitter">
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Twitch
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Twitch
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player1.Twitch" class="form-control" id="Player1Twitch">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" @bind="Singles.Player2.Twitch" class="form-control" id="Player2Twitch">
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Score
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                Score
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="number" @bind="Singles.Player1.Score" class="form-control" id="Player1Score">
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12 text-center">
                <input type="number" @bind="Singles.Player2.Score" class="form-control" id="Player2Score">
            </div>
        </div>
    </div>
</div>